.c-eventBtn{
  &__imgWrap{
    margin: 0 auto 150px;
    width: 641px;
    height: 218px;
    background: url(../dist/img/exterior/event01.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(){
      width: 92%;
    }
  }
  &__button{
    display:flex;
    width: 192px;
    height: 67px;
    background:rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}