.c-scrollBar{
position:absolute;
bottom:10px;
left:50%;
@include mq(){
  bottom:0;
}
 & span{
  position: absolute;
  left:10px;
  bottom:10px;
    /*テキストの形状*/
  color: #eee;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  &::before{
    content: "";
  /*描画位置*/
  position: absolute;
  bottom:0;
  left:-4px;
  /*丸の形状*/
  width:10px;
  height:10px;
  border-radius: 50%;
  background:rgb(82, 226, 82);
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 2s ease-in-out infinite,cirlemovehide 1.6s ease-out infinite;
  }
  &::after{
    content:"";
  /*描画位置*/
    position: absolute;
    bottom:0;
    left:0;
      /*線の形状*/
    width:2px;
    height: 100px;
    background:#eee;
    @include mq(){
      height: 50px;
    }
  }
}

@keyframes circlemove{
    0%{bottom:100px;}
   100%{bottom:-5px;}
}

@include mq(){
  @keyframes circlemove{
    0%{bottom:50px;}
   100%{bottom:-5px;}
  }
}


@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}



