.p-contact{
  & .mwform-zip-field{
    display: block;
  }
  &__strong{
    background: #fff;
    width: 250px;
    height: 48px;
    display: flex;
    align-items: center;
    padding:0 13px;
    font-family: $yuMincho;
    @include mq(lg){
      margin-right: auto;
      margin-bottom: 15px;
      width: initial;
    }
  }
  &__wrap{
    background:#F4F4F4;
    padding:39px 85px;
    &--confirm{
      text-align: center;
    }
    @include mq(lg){
      padding: 5%;
    }
  }
  &__txt{
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
  }
  &__required{
    display: block;
    width: 34px;
    background:#00C000;
    color: #fff;
    font-family: $yuMincho;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    @include mq(lg){
      margin-left: 50px;
      margin-right: 15px;
      width: initial;
    }
    @include mq(sm){
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  &__name{
    background: #fff;
    width:100%;
    height: 48px;
    border-radius:3px;
    padding: 0 13px;
    @include mq(sm){
      font-size: 10px;
    }
  }
  &__kana{
    background: #fff;
    width: 100%;
    height: 48px;
    border-radius:3px;
    padding: 0 13px;
    @include mq(lg){
      width: 100%;
    }
    @include mq(sm){
      font-size: 10px;
    }
  }
  &__input{
    margin-bottom:25px;
    display: flex;
    align-items: center;
    font-family: $yuMincho;
    justify-content: space-between;
    position: relative;
    padding: 0 13px;
    @include mq(lg){
      flex-direction: column;
      margin-bottom: 40px;
    }
    &:last-of-type{
      margin-bottom:80px;
    }
    &__box{
      padding:0 13px;
      background: #fff !important;
      width: 459px;
      height: 48px;
      border-radius:3px;
      @include mq(lg){
        width: 100%;
      }
      @include mq(sm){
        font-size: 10px;
      }
    }
    &__boxWrap{
      display: block;
      width: 459px;
      height: 48px;
      background: #fff;
      display: flex;
      align-items: center;
      @include mq(lg){
        margin-right: auto;
        width: 100%;
      }
    }
  }
  &__what{
    @extend .p-contact__input__box;
  }
  &__junre{
    font-family: $yuMincho;
    margin-left: 15px;
    margin-bottom:5px;
    @include mq(lg){
      margin-left: 0;
    }
  }
  &__tel{
    padding: 0 13px;
    background: #F4F4F4;
    height: 40px;
    border-radius:3px;
    width: 30% !important;
    @include mq(sm){
      padding: 0;
    }
    &__wrap{
      margin-bottom:25px;
    }
  }
  &__mail{
    padding: 0 13px;
    background: #fff;
    width:100%;
    height: 48px;
    border-radius:3px;
    &__wrap{
      margin-bottom:25px;
    }
    @include mq(sm){
      font-size: 10px;
    }
  }
  &__address{
    padding: 0 13px;
    background: #fff;
    width:100%;
    height: 48px;
    border-radius:3px;
    &__wrap{
      margin-bottom:25px;
    }
    @include mq(sm){
      font-size: 10px;
    }
  }
  &__post{
    padding: 0 13px;
    background: #F4F4F4;
    height: 40px;
    border-radius:3px;
    width: 30% !important;
    @include mq(lg){
      padding: 0;
    }
    &__wrap{
      margin-bottom:25px;
    }
  }
  &__consult{
    border:solid 1px #ced4da;
    background: #f5f8fa;
    width: 100%;
    padding:10px 13px;
    border-radius:3px;
    margin-bottom: 80px;
  }
  &__cord{
    margin-bottom:25px;
  }
  &__button{
    color:#fff;
    background:#00C000;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 150px;
    display: flex;
    margin: auto;
    cursor: pointer;
    &:hover{
      opacity: .8;
    }
    &__wrap{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 25px;
    }
  }
  &__will{
    @extend .p-contact__required;
    background:#ced4da;
  }
  &__privacypolicy{
    text-align: center;
    margin-bottom:5rem;
    &__link{
      color:red;
      text-decoration: underline;
    }
  }
}

.mw_wp_form .error{
  left: 135px;
  top: 50%;
  position: absolute;
  color:red;
  transform: translateY(-50%);
}

.mwform-tel-field{
  margin: 0 13px;
}

.mwform-radio-field{
  margin-left: 13px;
}

.mwform-zip-field{
  margin-left: 13px;
  width: 100% !important;
}


.mwform-tel-field input[type="text"], .mwform-zip-field input[type="text"]{
  padding: 0 2%;
}
